<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <style>
        .err{
            color: red;
        }
    </style>
        
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        
            {% for error in form.non_field_errors %}
                <p class="err">{{error}}</p>
            {% endfor %}
        {% endif %}


        {% for fm in form %}
        <div>
            {{fm.label_tag}} {{fm}} <span class="errorlist">{{fm.errors|striptags}}</span> <br><br>
        </div>
        {% endfor %}
        
        <input type="submit" value="login">
        <a href="/enroll/signup">Click here to SignUp</a>
    </form>
     <!-- {% if messages %}
        {% for message in messages %}
            <span {% if message.tags %} class="alert-{{message.tags}} {% endif %}"> {{ message }}</span>
        {% endfor %}
    {% endif %} -->
</body>
</html>