<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <h3>Student information</h3>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Pass_date</th>

        <!-- <tr>
            
            <td>{{students.id}}</td>
            <td>{{students.name}}</td>
            <td>{{students.roll}}</td>
            <td>{{students.city}}</td>
            <td>{{students.marks}}</td>
            <td>{{students.pass_date}}</td>
        </tr> -->

        {% for st in students%}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.roll}}</td>
            <td>{{st.city}}</td>
            <td>{{st.marks}}</td>
            <td>{{st.pass_date}}</td>
        </tr>
        {% endfor %}

    </table>
    <h3>Average:{{average}}</h3>
    <h3>Average Marks:{{average.marks__avg}}</h3>
    <h3>Sum of Marks:{{sum.marks__sum}}</h3>
    <h3>Minimum Marks:{{min.marks__min}}</h3>
    <h3>Maximum Marks:{{max.marks__max}}</h3>
    <h3>Total:{{count.marks__count}}</h3>
</body>
</html>