<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <h3>Student information</h3>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Pass_date</th>

        <tr>
            <td>{{students.id}}</td>
            <td>{{students.name}}</td>
            <td>{{students.roll}}</td>
            <td>{{students.city}}</td>
            <td>{{students.marks}}</td>
            <td>{{students.pass_date}}</td>
        </tr>




       
    </table>
    
</body>
</html>